# Aliases

alias ll='ls -lFh'
alias la='ls -A'
alias l='ls -CF'
alias mv='mv -i $*'
alias th='thunar .'
alias shutdown='sudo shutdown -h now'
alias poogle='ping google.com'
alias ipinfo='curl ipinfo.io'
alias cleaner='sudo apt-get autoremove -y && sudo apt-get autoclean -y && sudo apt-get update -y && sudo apt-get upgrade -y;'
alias getcomposer='curl -sS https://getcomposer.org/installer | php'
alias random='mktemp -u | cut -d'.' -f2'
alias freq='cut -f1 -d" " ~/.bash_history | sort | uniq -c | sort -nr | sed -r "s/\s{2,}//g" | head -n 50'
alias wifi='sudo iwlist wlan0 scan|grep -i ssid'
alias scanip='sudo nmap 192.168.1.0/24 -n -sP -PE -T5|grep report'
alias beep='notify-send "Terminal" "Traitement terminé" -i xfce-terminal'
alias watch-network='sudo watch -n 1 -t lsof -P -i -n'
alias t='tmux attach || tmux'
alias diskinfo="sudo lsblk -o NAME,SIZE,TYPE,FSTYPE,MOUNTPOINT,STATE,GROUP,UUID,MODEL,VENDOR"
alias calendar='cal'
alias pastebin="curl -F 'sprunge=<-' http://sprunge.us"
alias screencast='ffmpeg -f x11grab -r 25 -s 1920x1080 -i :0.0 -vcodec huffyuv screencast.avi'
alias skyrock="mplayer -nocache http://www.skyrock.fm/stream.php/frequenceradio_128mp3.mp3"
alias dip="docker inspect --format '{{ .NetworkSettings.IPAddress }}'"
alias gitfat='git rev-list --all --objects|sed -n $(git rev-list --objects --all|cut -f1 -d" "|git cat-file --batch-check|grep blob|sort -n -k 3|tail -n40|while read hash type size; do echo -n "-e s/$hash/$size/p "; done)|sort -n -k1;'
alias gdiff="git diff --color | diff-so-fancy"
alias git='LANG=en_US.UTF-8 git'

monitor(){ watch -n1 -t "lsof -i -n|awk '{print \$1, \$2, \$9}'|column -t"; }
gi() { curl "https://www.gitignore.io/api/$@"; }
youtube-dl-mp3(){ youtube-dl $1 --extract-audio --audio-format mp3 }
streamer() { youtube-dl -o - "$1" | mpv - }
reinstall() { sudo pacman -S "$1" $(pacman -Qi "$1"|grep -i depend|cut -d: -f2) }
downloadAllDocument(){ wget --no-check-certificate -H -r -l 1 -nd -A "$2" "$1"; }
dlmp3(){ wget -r -l1 -H -t1 -nd -N -np -A.mp3 -erobots=off "$1"; }
detach() { sudo umount "/dev/"$1"1"; udisks --detach "/dev/$1"; } 
debug() { sudo strace -Ff -tt -p $(pidof $1) 2>&1 | tee strace-$1.log; }

tunnel(){
    if [ -z "$1" ]; then
	echo "Usage: tunnel [addr]"
    else
    	pgrep obfsproxy > /dev/null 2>&1
    	if [ "$?" != 0 ]; then
        	echo "Start obfsproxy"
        	obfsproxy obfs2 --dest=${$1}:8080 client 127.0.0.1:9090 &
        	sleep 4
    	fi
    	echo "Start connexion tunnel"
    	ssh tunnel -D 127.0.0.1:7171
    fi
}

