# Aliases

alias ll='ls -lFh'
alias la='ls -A'
alias l='ls -CF'
alias mv='mv -i $*'
alias th='thunar .'
alias vim='nvim'
alias poogle='ping google.com'
alias beep='notify-send "Terminal" "Traitement terminé" -i xfce-terminal'
alias t='tmux attach || tmux'
alias skyrock="mplayer -nocache http://www.skyrock.fm/stream.php/frequenceradio_128mp3.mp3"
alias git='LANG=en_US.UTF-8 git'
alias debian='docker run -d --name debian -it debian > /dev/null 2>&1; docker exec -e COLUMNS=$COLUMNS -e LINES=$LINES -e TERM=$TERM -it debian bash'
alias rm='echo "This is not the command you are looking for."; false'
alias copy='xclip -selection clipboard'
alias cava="TERM=st-256color cava"
alias nomachine='/usr/NX/bin/nxplayer'
alias drawio='chromium --app=http://draw.io'
alias standardnotes='chromium --app=https://app.standardnotes.org'
alias spotify='chromium --app=https://open.spotify.com'
alias grafana='chromium --app=https://grafana.ethibox.fr'
alias toggl='chromium --app=https://toggl.com/app/timer'

monitor() { watch -n1 -t "lsof -i -n|awk '{print \$1, \$2, \$9}'|column -t"; }
gi() { curl -L "https://www.gitignore.io/api/$@"; }
youtube-dl-mp3() { youtube-dl $1 --extract-audio --audio-format mp3; }
streamer() { youtube-dl -o - "$1" | mpv -; }
detach() { sudo umount -l "/dev/"$1"1"; udisksctl power-off -b "/dev/$1"; }
debug() { sudo strace -Ff -tt -p $(pidof $1) 2>&1 | tee strace-$1.log; }
drm() { docker rm $(docker ps -a | grep 'Exited\|Created' | awk '{print $1}') > /dev/null 2>&1; }
drmi() { docker rmi $(docker images --no-trunc | grep none | awk '{print $3 }') > /dev/null 2>&1; }
dpa() { docker ps -a; }
whitespace() { sed -i 's/[[:space:]]*$//' $1; }

live() {
    qemu-img create -f raw live 8G
    qemu-system-x86_64 -enable-kvm -cpu host -m 4096 -drive file=live,format=raw -cdrom "$1"
    rm live
}

stopwatch(){
  date1=`date +%s`;
   while true; do
    echo -ne "$(date -u --date @$((`date +%s` - $date1)) +%H:%M:%S)\r";
    sleep 0.1
   done
}

genssl(){
    if [ -z "$1" ]; then
	    echo "usage: genssl [domain]"
    else
        openssl genrsa -out $1.key 1024
        openssl req -new -key $1.key -out $1.csr
        openssl x509 -req -days 365 -in $1.csr -signkey $1.key -out $1.crt
    fi
}

screenshot () {
    pageres --filename=screenshot -d 5 --overwrite $1
    imgur upload screenshot.png
}
