[core]
    excludesfile = ~/.gitignore_global
    quotePath = false

[color]
    ui = true

[alias]
    url = config --get remote.origin.url

[user]
    name = johackim
    email = contact@johackim.com

[include]
    path = ~/.gitconfig_sensitive
