[submodule "vim"]
	path = vim
	url = http://github.com/jcherqui/dotvim
[submodule "themes/.themes/Darkyan"]
	path = themes/.themes/Darkyan
	url = http://github.com/jcherqui/Darkyan
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "tmux/plugins/tmux-copycat"]
	path = tmux/plugins/tmux-copycat
	url = https://git::@github.com/tmux-plugins/tmux-copycat
