[core]
    excludesfile = ~/.gitignore_global
    quotePath = false

[color]
    ui = true

[alias]
    url = config --get remote.origin.url
    zk = !git --no-pager log --follow --diff-filter=A --format=%ad --date=format:'%Y%m%d%H%M' --

[user]
    name = johackim
    email = contact@johackim.com

[commit]
	gpgsign = true
