! xrdb -merge ~/.Xresources (TO APPLY CHANGES)

URxvt.scrollBar: false

URxvt*font: xft:Inconsolata Nerd Font Mono:size=10
URxvt*letterSpace: 1

URxvt.cursorBlink: true

URxvt*.transparent: true
URxvt*.shading: 15

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-lib: .urxvt/perl
URxvt.perl-ext-common: default,matcher,clipboard,url-picker,font-size,notify

URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste

URxvt.keysym.C-f: perl:url-picker
URxvt.url-picker.launcher: chromium
URxvt.keysym.C-0xff0d: perl:url-picker

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease

URxvt.urgentOnBell: true

Xft.dpi: 128 # xrdb -query | grep dpi
xterm*font: *-fixed-*-*-*-18-*
