! Grayscale dark theme modified

! special
*.foreground:   #ffffff
*.background:   #101010
*.cursorColor:  #ffffff

! black
*.color0:       #101010
*.color8:       #525252

! red
*.color1:       #AA0000
*.color9:       #AA0000

! green
*.color2:       #8e8e8e
*.color10:      #8e8e8e

! yellow
*.color3:       #a0a0a0
*.color11:      #a0a0a0

! blue
*.color4:       #686868
*.color12:      #686868

! magenta
*.color5:       #747474
*.color13:      #747474

! cyan
*.color6:       #00CDCD
*.color14:      #00FFFF

! white
*.color7:       #ffffff
*.color15:      #f7f7f7

! Italic color tmux
URxvt*colorIT: #00FFFF

URxvt.scrollBar: false

URxvt*font: xft:Inconsolata:size=9, xft:Inconsolata for Powerline
URxvt.cursorBlink: true

URxvt*.transparent: true
URxvt*.shading: 20

URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-lib: .urxvt/perl
URxvt.perl-ext-common: default,matcher,clipboard,url-picker,font-size

URxvt.keysym.C-Right: \033[1;5C
URxvt.keysym.C-Left: \033[1;5D
URxvt.keysym.C-C: perl:clipboard:copy
URxvt.keysym.C-V: perl:clipboard:paste
URxvt.keysym.C-f: perl:url-picker
!URxvt.keysym.C-S-T: perl:tabbedex:new_tab

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease

