[Desktop Entry]
Name=Obsidian
Comment=Obsidian Note-taking App
GenericName=Note-taking
Exec=obsidian %u
Icon=obsidian
Type=Application
StartupNotify=true
Categories=Office;Utility;
MimeType=x-scheme-handler/obsidian;
